body {
  background: #ffffff 
  
}

.page-header {
  border-style: 0px; 
  border-bottom-width: 0px !important;
  background: #009900 !important;
}

.menueMember {
  color:white !important;
}

.breakLine{
  border-top-width: 3px;
  border-color: #009900;
}

.kandidates {
  display: flex;
  flex-direction: column;
}


.bild {
  padding: 0% !important;
  background: transparent !important;
  display: flex;
} 

.span {
  background-color: #009900; 
  background-color: #009900ee; 
  position: absolute; bottom: 0; 
  width: 90%; line-height: 2em; 
  text-align: center;
  font-size: large;
  font-weight: bold; 
} 

.beschreibung {
  padding: 0% !important; 
  background: transparent !important;
}

.tableStyle {
  padding-right: 20px;
}

.demandHeader {
  font-size: large;
  font-weight: bold;
}